<div id="wiki-wrapper" class="results">

<!-- ### MATERIAL GRID -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">

    <span id="page-path-title" class="mdl-chip mdl-chip--contact">
      <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">✎</span>
      <span class="mdl-chip__text">{{title}}</span>
    </span>

  </div>
  <div class="mdl-cell mdl-cell--8-col">
      
      <div id="pages">
      {{#has_results}}
        <div id="file-browser">
          <div class="breadcrumb">
            {{{breadcrumb}}}
          </div>
          <ul>
            {{{files_folders}}}
          </ul>
        </div>
      {{/has_results}}

      {{#no_results}}
        <p id="no-results">
          There are no pages in <strong>{{ref}}</strong>.
        </p>
      {{/no_results}}
      </div>      

  </div>
  <div class="mdl-cell mdl-cell--2-col">

  </div>
</div>
<!-- ### END MATERIAL GRID -->

</div>

